body {
  margin: 0px !important;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  /* color: #fff; */
  text-align: center;
  display: grid;
  gap: 5rem;
  font-family: 'Roboto', sans-serif;
  /* background-image: url('https://i.pinimg.com/564x/39/4f/8c/394f8cbbbc400c1522073fc8cdf20201.jpg'); */
  /* background-repeat: no-repeat;
  background-size: 100% 100%; */
  /* min-height: 100vh; */
}

.movie {
  /* height: auto; */
  height: min-content;
  width: 20rem;
  display: grid;
  gap: 1rem;
  background-color: white;
  border-radius: 1rem !important;
  overflow: hidden;
  padding-bottom: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

/* .movie:hover {
  background-color: #ffffff;
} */

.movie-details {
  padding: 0rem 1rem;
  display: grid;
  gap: 1rem;
}

.movie-spec {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie-spec > h4, p {
  margin: 0.5rem 0rem;
}

img {
  height: 20rem;
  width: 20rem;
  border-radius: 0px;
  object-fit: cover;
  border-radius: 1rem;
  /* transform: scale(0.85) */
}

/* img:hover {
  transform: scale(1);
  border-radius: 1rem;
} */

.accordion {
  border-radius: 0.4rem !important;
}

span {
  font-weight: bold;
}

body {
  margin: 50px;
  padding: 0px;
  box-sizing: border-box;
  /* background-color: #214872; */
  background-color: whitesmoke;
}

.movie-counter {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.addMovie-container {
  padding: 1rem;
  border-radius: 15px;
  /* background-color: whitesmoke; */
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  width: 70%;
}

.add-movie {
  display: grid;
  justify-items: center;
  padding-bottom: 15rem;
}

.editMovie-container {
  padding: 1rem;
  border-radius: 15px;
  /* background-color: whitesmoke; */
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0.5rem;
  color: #fff;
  width: 100%;
}

.edit-movie {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 5rem;
}

.updated-preview {
  display: grid;
  justify-items: center;
}

.movies-container {
  text-align: center;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  column-gap: 1rem;
  row-gap: 5rem;
  justify-items: center;
  /* background: whitesmoke; */
  padding-top: 3rem;
}

.notfound-container {
  background-color:whitesmoke;
}

.notfound-container>img {
  width: 100%;
  height: 40rem;
}

a {
  text-decoration: none;
  color: white;
}

.movie-details-2 {
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
  align-items: center;
  margin: 2rem;
}

iframe {
  border-radius: 0.5rem;
  overflow: hidden;
}

.movie-details-spec {
  display: grid;
  grid-template-rows: 0.5fr 0.5fr 1fr;
  padding: 2.5rem;
  align-items: center;
  background-color: #474747;
  color: #ffffff;
  border-radius: 0.5rem;
  margin: 1rem;
}

.movie-details-spec > div {
  font-size: 25px;
}

.home-content {
  padding-top: 2rem;
  width: 75%;
}

.home-container {
  display: grid;
  grid-template-rows: 0.5fr 1.5fr;
  justify-items: center;
  font-size: 20px;
}

.home-grid {
  display:grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.home-img {
  height: 100%;
}

.AppBar {
  height: max-content;
}

.back-button {
  display: grid;
  justify-items: end;
  margin: 2rem;
}

.back-button > button {
  margin: 2rem;
}

/* GameBox */

.game-box {
  height: 8rem;
  width: 8rem;
  border: 1px solid black;
  font-size: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.game-box:hover {
  background-color: rgba(0, 0, 0, 0.075);
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* background-color: aquamarine; */
  width: max-content;
  height: max-content;
}

.board-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height : calc(100vh - 64px - 10rem);
}

.turn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}

.colors {
  display: grid;
  gap: 1rem;
  justify-items: center;
  align-items: center;
  height: min-content;
}

.addColor {
  display: flex;
  gap: 1rem;
}

.colorList {
  display: grid;
  gap: 0.5rem;
}